* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

/*最外层盒子样式处理：
  1.设置与轮播图高宽一致
  2.设置纵向距顶部50px，水平居中
  3.设置自己为固定位置
  */

.lunbo {
    width: 100%;
    height: 912px;
    margin: 0 auto;
    position: relative;
}

/*轮播图片集合处理:
   将其设置为脱离文档流
   设置距顶部和左侧都为0
   */

.lunbo img {
    width: 100%;
    height: auto;
}

.lunbo .img li {
    position: absolute;
    top: 0;
    left: 0;
}

/*左、右按钮相同部分处理:
   设置其脱离文档流
   设置其宽高
   设置背景色及字体颜色
   设置字体水平居中
   通过设置line-height与height一致，使其字体纵向居中
   通过设置top、margin-top使其整体纵向居中
   默认不显示
   */
.btn {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: darkgray;
    color: white;
    text-align: center;
    line-height: 50px;
    top: 50%;
    margin-top: -25px;
    display: none;
}

/*左侧按钮处理:
   设置左侧为0
   */
.left_btn {
    left: 20px;
}

/*右侧按钮处理:
   设置右侧为0
   */
.right_btn {
    right: 20px;
}

/*鼠标悬浮至轮播图区域时左、右按钮处理:
   1.设置左右按钮显示样式为行级块级兼容
   2.设置鼠标放置在左右按钮时样式为小手
   */
.lunbo:hover .btn {
    display: inline-block;
    cursor: pointer;
}

.mian-body {
    width: 100%;
}

.fenlei {
    width: 1024px;
    margin: 0 auto;
}

.fenlei img {
    float: left;
    width: 512px;
    height: 131px;
}

.new {
    width: 1024px;
    margin: 0 auto;
}

.weixin {
    width: 1024px;
    margin: 0 auto;
}